# IDE
.idea/
/.
/python脚本/
/shell脚本记录/
/中间件部署与排错记录/
/中间件部署与排错记录/nacos批量获取ip和端口/
/中间件部署与排错记录/自动化部署审批方案/
/中间件部署与排错记录/docker大文件清理.md
/中间件部署与排错记录/docker安装注意以及自动部署脚本.md
/中间件部署与排错记录/esio异常未处理.md
/中间件部署与排错记录/k8s中证书挂载方案.md
/中间件部署与排错记录/k8s知识库，持续补充.md
/中间件部署与排错记录/k8s集群添加bgp-calico网络记录.md
/中间件部署与排错记录/kafka部署.md
/中间件部署与排错记录/linux-system-optimize.sh
/中间件部署与排错记录/logstash和filebeat的systemctl启动.md
/中间件部署与排错记录/logstash插件安装报错处理方案.md
/中间件部署与排错记录/NGINX安装记录.md
/中间件部署与排错记录/prefix_d2d350889802c1bf3f38f036b3580fe4.md
/中间件部署与排错记录/RBAC角色权限知识库，未来补充.md
/中间件部署与排错记录/redis4.0.14安装记录.md
/中间件部署与排错记录/Redis异常问题排查.md
/中间件部署与排错记录/skywalking部署.md
/中间件部署与排错记录/zstd用于日志归档方案.md
/中间件部署与排错记录/一个蓝鲸智云日志无法选择时间的bug处理方案.md
/中间件部署与排错记录/不知道什么时候装的rancher.md
/中间件部署与排错记录/不知道从哪里抄来的k8s证书更新，反正不是自己写的.md
/中间件部署与排错记录/压缩工具，用于容器化归档方案，不再考虑.md
/中间件部署与排错记录/基于kubekey的k8s集群部署.md
/中间件部署与排错记录/存储量达91时crontab执行日志清理.md
/中间件部署与排错记录/对jdk基础镜像添加功能做成新基础镜像.md
/中间件部署与排错记录/用于kubekey安装的istio更新.md
/中间件部署与排错记录/用于应用的deployment文本批量创建.md
/中间件部署与排错记录/系统部分优化，用于系统进程限制和文件描述.md
/中间件部署与排错记录/逐步完善的jvm知识，用于配合开发对应用优化.md
/对业务妥协的技术记录/
/对业务妥协的技术记录/higress的部署与应用.md
/对业务妥协的技术记录/没有systemctl的filebeat和logstash部署方案.md
/工作时的ansible记录/
/每日巡检报告方案/
/每日巡检报告方案/每日巡检报告.md
/.gitignore
/CLAUDE.md
/README.md
/前言.md
